/**
 * Passwords view stylesheet.
 */

$passwords-block-name: passwords;

.#{$passwords-block-name} {
  line-height: 1.75;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, .7);
  border-left: 1px solid rgba(0, 0, 0, .08);

  &__content {
    padding-top: 10px;
    background-color: #FFFFFF;

    &__title {
      padding-left: 10px;

      &__key {
        font-weight: bold;
      }

      &__value {
        width: 50%;
      }
    }

    &__subtitle {
      padding-top: 10px;
      padding-left: 10px;

      &__key {
        font-weight: bold;
      }

      &__value {
        width: 50%;
      }
    }

    &__account {
      padding-top: 10px;
      padding-left: 10px;

      &__key {
        font-weight: bold;
      }

      &__input {
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, .08);
        border-radius: 3px;
        padding: 5px 5px 5px 10px;
        height: 18px;
        width: 50%;
      }
    }

    &__email {
      padding-top: 10px;
      padding-left: 10px;

      &__key {
        font-weight: bold;
      }

      &__input {
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, .08);
        border-radius: 3px;
        padding: 5px 5px 5px 10px;
        height: 18px;
        width: 50%;
      }
    }

    &__password {
      padding-top: 10px;
      padding-left: 10px;

      &__key {
        font-weight: bold;
      }

      &__input {
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, .08);
        border-radius: 3px;
        padding: 5px 5px 5px 10px;
        height: 18px;
        width: 50%;
      }
    }

    &__modification {
      padding-top: 15px;
      font-size: 12px;
      font-style: italic;
    }

    &__divider {
      width: 100%;
      margin: 0 auto;
      border-width: thin;
    }
  }

  &__submit {
    background-color: #FFFFFF;
    padding-bottom: 10px;
  }
}
