/**
 * Passwords view stylesheet.
 */
.passwords {
  line-height: 1.75;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.08); }
  .passwords__content {
    padding-top: 10px;
    background-color: #FFFFFF; }
    .passwords__content__title {
      padding-left: 10px; }
      .passwords__content__title__key {
        font-weight: bold; }
      .passwords__content__title__value {
        width: 50%; }
    .passwords__content__subtitle {
      padding-top: 10px;
      padding-left: 10px; }
      .passwords__content__subtitle__key {
        font-weight: bold; }
      .passwords__content__subtitle__value {
        width: 50%; }
    .passwords__content__account {
      padding-top: 10px;
      padding-left: 10px; }
      .passwords__content__account__key {
        font-weight: bold; }
      .passwords__content__account__input {
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 3px;
        padding: 5px 5px 5px 10px;
        height: 18px;
        width: 50%; }
    .passwords__content__email {
      padding-top: 10px;
      padding-left: 10px; }
      .passwords__content__email__key {
        font-weight: bold; }
      .passwords__content__email__input {
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 3px;
        padding: 5px 5px 5px 10px;
        height: 18px;
        width: 50%; }
    .passwords__content__password {
      padding-top: 10px;
      padding-left: 10px; }
      .passwords__content__password__key {
        font-weight: bold; }
      .passwords__content__password__input {
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 3px;
        padding: 5px 5px 5px 10px;
        height: 18px;
        width: 50%; }
    .passwords__content__modification {
      padding-top: 15px;
      font-size: 12px;
      font-style: italic; }
    .passwords__content__divider {
      width: 100%;
      margin: 0 auto;
      border-width: thin; }
  .passwords__submit {
    background-color: #FFFFFF;
    padding-bottom: 10px; }
